a:link
{
	text-decoration: none;
	color: white;
}

a:visited
{
	text-decoration: none;
	color: white;
}
.cultural .blog_links a:hover
{
	color: #2eb82e;
	text-shadow: 0.25px -3px white;
}

.technical .blog_links a:hover
{
	color: #E65C00;
	text-shadow: 0.25px -3px white;
}

.cultural .blog_links a:active, .technical .blog_links a:active
{
	text-shadow: none;
}

.blog_bar
{
	display: block;
	margin-left: 15px;
	float: left;
	width:10.5em;
	color: cyan;
	font-family: arial;
}

.content_area
{
	display: block-inline;
	top: 5px;
	margin-left: 15px;
	padding:15px;
	width: 80%;
	max-height: 80%;
	height: 700px;
}

div
{
	display: inline;
}

.WIP{
	font-weight: bold;
	display: inline-block;
	color: cyan;
	margin: 10px;
}

body
{
	background-color: grey;
}

.bg-img {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
	background-image:url("images/1treesBG.jpg");
}

h5
{
	cursor: pointer;
};