a:link
{
	text-decoration: none;
	color: white;
}

a:visited
{
	text-decoration: none;
	color: white;
}

.blog_bar
{
	display: block;
	margin-left: 15px;
	float: left;
}

.content_area
{
	display: block-inline;
	top: 5px;
	margin-left: 15px;
	padding:15px;
	width: 80%;
	max-height: 80%;
	height: 700px;
}

div
{
	display: inline;
}

body
{
	color: white;
	background-color: grey;
	background-image:url(http://37.media.tumblr.com/tumblr_mdb22m7HTC1rzqsxoo1_500.jpg);
}

.blog_bar
{
	color: cyan;
	font-family: arial;
}

#ui-id-1:hover, #ui-id-3:hover
{
	cursor: pointer;
}

.cultural a:hover
{
	text-shadow: 0.25px -3px white;
	color: #2eb82e;
}
.technical a:hover
{
	text-shadow: 0.25px -3px white;
	color: #E65C00;
};