body { 
	background-color: grey
}

p {     
	font-family: verdana
}

ol li { 
	font-family: times;
	border: 2px solid black ;

}

ul li { font-family: Georgia;
	background-color: black;
	color: aqua;
	font-size: 1.1em
}
