.header 
{
	float: top;
	text-align: center;
	top: 5px;
	width: 1000px;
	height: 100px;
	border: 5px solid black; 
	border-radius: 5px;
	}

.footer
{
	position: absolute;
	float: bottom;
	text-align: center;
	bottom: 5px;
	height: 100px;
	width: 1000px;
	border: 2px solid black;
	border-radius: 5px ;
}

.sidebar
{
	position: absolute;
	text-align: center;
	height: 700px;
	width: 150px;
	border: 2px solid blue;
	border-radius: 3px;
}

.content_area
{	
	padding: 2px;
	background-color: grey;
	margin: 2px;
	top: 175px;
	border: 3px solid black;
	border-radius: 5px;
}

span {
	font-family: arial;
	color: blue;
}