.header 
{
	position: relative;
	text-align: center;
	top: 5px;
	width: 1200px;
	}

.footer
{
	
	position: absolute;
	text-align: center;
	bottom: 5px;
	width: 1200px;
}

.sidebar
{
	position: absolute;
	text-align: center;
	top: 75px;
	right: 15px;
	height: 675px;
	width: 75px;

}

.content_area
{	
	padding: 5px;
	height: 50%;
	background-color: white;
	position: relative;
	top: 20px;
	width: 1190px;
	height: 600px;

}
body {

	background-color: black

}
div {
	border: 3px solid cyan;
	border-radius: 7px;
	background-color: #cccccc;
}

span {
	font-family: arial;
	color: blue;
}