.header 
{
	float: top;
	text-align: center;
	top: 5px;
	height: 100px;
	width: 1200px;
	}

.footer
{
	float: bottom;
	text-align: center;
	bottom: 5px;
	height: 100px;
	width: 1200px;
}

.sidebar
{
	position: absolute;
	right: 5px;
	top: 5px;
	text-align: left;
	height: 675px;
	width: 150px;
	border: blue;
}

.content_area
{	

}

div {
	border: 3px solid black;
	background-color: green;
}

span {
	font-family: arial;
	color: blue;
}