a:link
{
	text-decoration: none;
	color: white;	
}

a:visited
{
	text-decoration: none;
	color: white;
}

a:hover
{
	text-shadow: 0px -5px cyan;
	font-weight: bold;
	color: cyan;
}

a:active 
{
	text-shadow: 0px 1px aqua;
	font-weight: bold;
	color: cyan;
}

.blog_bar
{
	margin-left: 15px;
	float: left;
}

.content_area
{	
	position: inline;
	top: 5px;
	margin-left: 15px;
	padding:15px;
	width: 80%;
	max-height: 80%;
	height: 700px;
}

div
{
	display: inline;
}

body
{
	color: white;
	background-color: grey;	
	background-image:url(http://37.media.tumblr.com/tumblr_mdb22m7HTC1rzqsxoo1_500.jpg);
}

span
{
	color: cyan;
	font-family: arial;
}